.student-sidebar {
  background: #00599D;
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  #sidebar {
    min-width: 260px;
    max-width: 260px;
    min-height: 80vh;
  }

  #sidebar.active {
    margin-left: -260px;
  }
  a[data-toggle="collapse"] {

  }

  //.dropdown-student::after {
  //  display: block;
  //  position: absolute;
  //  top: 50%;
  //  right: 20px;
  //  transform: translateY(-50%);
  //}
  #sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #00599D;
    color: #fff;
    //transition: all 0.3s;

  }


  #sidebar .sidebar-header {
    padding: 20px;
    background: #00599D;
  }

  #sidebar ul.components {
    padding: 20px 0;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li a {
    padding: 10px;
    //font-size: 1.1em;
    display: block;
  }
  #sidebar ul li a:hover {
    color: #000000;
    background: #fff;
    text-decoration: none;
  }

  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #00477E;
    border-left: 2px solid #ACDD78;
    border-radius: 1px;

  }
  ul ul a {
    font-size: 0.9em !important;
    //padding-left: 30px !important;
    background: #00477E;
    color: #fff;
  }

  .dropdown-student {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    i {
      font-size: 25px;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .personal-info__text {
    max-width: 123px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
  }
  .done-item {
    background: #38C13E;
    border: rgba(56, 193, 62, 0.2);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warn-item {
    background: #D54141;
    border: rgba(213, 65, 65, 0.2);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrap-done-item {
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    span, a {
      max-width: 95px;
      font-size: 18px;
      line-height: normal;
      text-align: center;
    }
  }
  .student-sidebar__item-link {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: rgba(217, 217, 217, 0.8);
    margin-bottom: 15px;
  }

}

.wrapper-student {
  background: #EEEEEE;
  width: 100%;
}

.wrap-student-left {
  padding-top: 24px;
  padding-left: 28px;
}

.student-info__title {
  h2 {
    font-weight: 500;
    line-height: normal;
    font-size: 36px;
    margin-bottom: 10px;
  }
  .student-info__sub-title {
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

input[type="file"].input-img {
  display: none;
}

label.label-input-img {
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  background: #929292;
  border-radius: 5px;
  color: #ffffff;
  padding: 20px;
}

.wrapper-student-inside {
  background: #ffffff;
  margin-left: 22px;
  margin-top: 37px;
  padding: 24px 28px;
  max-width: 1030px;
}

.info__sub-title {
  font-weight: 500;
  line-height: normal;
  font-size: 24px;
}

.wrap-student-buttons {
  display: flex;
  margin-top: 90px;
  margin-left: 377px;
  margin-bottom: 90px;
  .btn-save {
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #FFFFFF;
    background: #00599D;
    border-radius: 5px;
    padding: 15px 40px;
  }
  .btn-save-next {
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #38C13E;
    border-radius: 5px;
    padding: 15px 17px;
    img {
      margin-bottom: 4px;
      margin-left: 15px;
    }
  }
  .btn-save-block {
    margin-right: 20px;
  }
}

//info-destination

.student-info__sub {
  font-size: 24px;
  color: #323232;
}

//checkbox

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;

}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.wrap-checkbox-student {
  padding: 20px;
  border: 1px solid #ccc;
}

@media (max-width: 1051.98px) {


  .wrap-student-buttons {
    display: flex;
    margin-top: 90px;
    margin-left: 0px;
    margin-bottom: 90px;
    justify-content: center;
    .btn-save {
      font-weight: bold;
      line-height: normal;
      font-size: 16px;
      color: #FFFFFF;
      background: #00599D;
      border-radius: 5px;
      padding: 15px 40px;
    }
    .btn-save-next {
      font-weight: bold;
      line-height: normal;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF;
      background: #38C13E;
      border-radius: 5px;
      padding: 12.5px 17px;
      img {
        margin-bottom: 4px;
        margin-left: 15px;
      }
    }
    .btn-save-block {
      margin-right: 20px;
    }
  }

}

@media (max-width: 992.98px) {


}
.collapse-active{
  left: 205px !important
}

.wrap-collapse{
  display: none;
  position: absolute;
  left: 0px;
  z-index: 9999;
}
@media (max-width: 993.98px) {
  .wrap-collapse{
    display: block;
    margin-top: 15px;

  }
  #sidebar{
    display: none;
    position: absolute;
    z-index: 2;
    min-height: 100vh!important;
    min-width: 190px!important;
  }

  .wrapper-student-inside {
    margin-left: 0px;
    margin-top: 70px;
    padding: 9px;

  }
}

