.wrap-main-top {
  background-image: url('/img/bg-top.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 660px;
  margin-bottom: 80px;
}

.figure-top {
  width: 100%;
  max-width: 560px;
}


.wrap-figure-left {
  background-image: url(/img/figure-left.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  width: 100%;
  padding: 6px 0px 6px 0px;
  position: relative;
  bottom: -29px;
}

.text-education, .text-education-2 {
  font-size: 28px;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.text-education-2 {
  color: #004274;
}

.wrap-figure-right {
  background-image: url('/img/figure-right.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  width: 100%;
  padding: 6px 0px 7px 0px;
  position: relative;
  bottom: -28px;
}

.wrap-main-mid {
  background: #F8F8F8;
}

.wrap-card {
  background: #FFFFFF;
  border-radius: 5px;
  width: 100%;
  height: auto;
  //max-height: 420px;
}


.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}

.wrap-img-card {
  display: flex;
  justify-content: center;
  padding: 20px;
  img {
    max-width: 100%;
    width: auto;
    max-height: 213px;
    height: auto;
  }
}

.wrap-card-text {
  padding: 0 20px 20px;
  display: block;
  span {
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #2F2F2F;
  }
}

.wrap-country, .wrap-country-austria, .wrap-country-turkey, .wrap-country-germany, .wrap-country-poland, .wrap-country-italy {
  width: auto;
  height: 350px;
  background-size: cover;
  background-image: url('/img/ukraine.jpg');
  .text-country {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 28px 42px 28px;
    width: 226px;
    height: 135px;
  }
}

.wrap-country-austria{
  background-image: url('/img/austria.jpg');
}
.wrap-country-turkey{
  background-image: url('/img/turkey.jpg');
}
.wrap-country-germany{
  background-image: url('/img/germany.jpg');
}
.wrap-country-poland{
  background-image: url('/img/poland.jpg');
}
.wrap-country-italy{
  background-image: url('/img/italy.jpg');
}

.wrap-img-news {
  display: flex;
  justify-content: center;
  padding: 20px;
  img {
    width: 100%;
    max-width: 311px;
    height: auto;
    max-height: 213px;
  }
}

.text-decoration-none {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

